<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="300"/>
    <sessionState timeout="240"></sessionState>
  </system.web>
  <appSettings>
    <!--Dev 
    <add key="dbsource" value="DESKTOP-OB12TV7" />
    <add key="dbcatalog" value="wattana_Billing" />
    <add key="dbuser" value="sa" />
    <add key="dbpass" value="1234" />
-->
    <!--Prod  
    <add key="dbsource" value="proweldingandtools.com" />
    <add key="dbcatalog" value="wattana_Billing" />
    <add key="dbuser" value="wattana_Billing" />
    <add key="dbpass" value="sZ8%g3w7" />
    -->

    <!--ProTest  -->
    <add key="dbsource" value="proweldingandtools.com" />
    <add key="dbcatalog" value="wattana_ProStockTest" />
    <add key="dbuser" value="wattana_ProStockTest" />
    <add key="dbpass" value="sZ8%g3w7" /> 
    

<add key="mailError" value="eakkarat_5@hotmail.com" />
    <add key="Connection.SMTP.IP" value="1" />
    <add key="Connection.SMTP.Port" value="2" />
  </appSettings>
  <connectionStrings>
                             
    <!--Dev 
    <add name="BillingEntities" connectionString="metadata=res://*/AppData.Model1.csdl|res://*/AppData.Model1.ssdl|res://*/AppData.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OB12TV7;initial catalog=wattana_Billing;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--Prod 
    <add name="BillingEntities" connectionString="metadata=res://*/AppData.Model1.csdl|res://*/AppData.Model1.ssdl|res://*/AppData.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=proweldingandtools.com;initial catalog=wattana_Billing;Persist Security Info=True;User ID=wattana_Billing;Password=sZ8%g3w7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->

    <!--ProTest -->
    <add name="BillingEntities" connectionString="metadata=res://*/AppData.Model1.csdl|res://*/AppData.Model1.ssdl|res://*/AppData.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=proweldingandtools.com;initial catalog=wattana_ProStockTest;Persist Security Info=True;User ID=wattana_ProStockTest;Password=sZ8%g3w7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
</configuration>